# .NET
**/bin/
**/obj/
*.user
.vs/

# Python
**/__pycache__/
*.py[cod]
**/.venv/
**/venv/
**/.env

# Editors / IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
.docker/

# Logs
*.log
